 body {
    margin: 0;
    background-color: #363636;
    height: 100vh;
    cursor: default;
    font-family: 'Hahmlet', serif;
 }

.has-background-info, .is-info{
    background-color: #3a506b !important;
}

.button {
    font-size: .8rem !important;
}

.button:hover {
    font-size: .83rem !important;
    background-color: #3968a1 !important;
}

.news-article:hover {
    background-color: #00d1b2 !important;
    font-size: 110%;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: .6rem;
}

.is-small {
    font-size: 1.2rem;
}

img {
    border-radius: 100px;
}